<div class="chat_window">
  <div class="top_menu">
    <div class="buttons">
      <div class="button close"></div>
      <div class="button minimize"></div>
      <div class="button maximize"></div>
    </div>
    <div class="title">Chat</div>
  </div>
  <ul #chatContainer class="messages">
    <li *ngFor="let message of messages; let last = last" class="message right appeared">
      <div class="avatar"></div>
        <div class="text_wrapper">
          <div class="text">{{ message.message }}</div>
        </div>
    </li>
    <!--<li class="message left appeared">
      <div class="avatar"></div>
      <div class="text_wrapper">
        <div class="text">Hiiiiiiiiiii</div>
      </div>
    </li>-->
  </ul>
  <div class="bottom_wrapper clearfix">
    <div class="message_input_wrapper">
      <input (keyup.enter)="send($event.target.value)" class="message_input" id="messageBox" placeholder="Type your message here..." />
    </div>
  </div>
</div>
<div class="message_template">
  <li class="message">
    <div class="avatar"></div>
    <div class="text_wrapper">
      <div class="text"></div>
    </div>
  </li>
</div>